<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/bootsnav.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">

    <title>Cabeleleila Leila</title>
</head>
<body>
    <header id="header-top" class="header-top">
        <ul>
            <li class="head-responsive-right">
                <div class="header-top-right">
                    <ul>
                        <li class="header-top-contact">
                            (14) 91111-2222
                        </li>
                        <% if (userId === undefined) { %>
                            <li class="header-top-contact">
                                <a href="/login">Entrar</a>
                            </li>
                            <li class="header-top-contact">
                                <a href="/registro">Registrar</a>
                            </li>
                        <% } else { %>
                            <li class="header-top-contact">
                                <a href="/dashboard">Dashboard</a>
                            </li>
                        <% } %>
                    </ul>
                </div>
            </li> 
        </ul>
    </header>

    <section class="top-area">
        <div class="header-area">
            <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy"  data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">

                <div class="container">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="/">Cabeleleila<span>Leila</span></a>

                    </div>

                    <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
                        <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                            <li class=" scroll active"><a href="#home">home</a></li>
                            <li class="scroll"><a href="#services">serviços</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="clearfix"></div>
    </section>

    <section id="home" class="welcome-hero">
        <div class="container">
            <div class="welcome-hero-txt">
                <h2>Cabeleleila Leila Salão de Beleiza</h2>
                <p>
                    Realce sua beleza natural, desperte sua confiança
                </p>
            </div>
        </div>
    </section>

    <section id="services" class="explore">
        <div class="container">
            <div class="section-header">
                <h2>serviços</h2>
                <p>Confira alguns dos serviços oferecidos</p>
            </div>

            <div class="explore-content">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="single-explore-txt bg-theme-1">
                            <h2>corte</h2>

                            <div class="explore-person">
                                <div class="row">
                                    <div class="col-sm-10">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, magnam asperiores! Quos nemo asperiores doloremque odio. Totam, odit. Numquam dolor, eos impedit illum delectus quidem illo mollitia error totam! Laboriosam?
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                        <div class="single-explore-txt bg-theme-1">
                            <h2>escova</h2>

                            <div class="explore-person">
                                <div class="row">
                                    <div class="col-sm-10">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, magnam asperiores! Quos nemo asperiores doloremque odio. Totam, odit. Numquam dolor, eos impedit illum delectus quidem illo mollitia error totam! Laboriosam?
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                        <div class="single-explore-txt bg-theme-1">
                            <h2>progressiva</h2>

                            <div class="explore-person">
                                <div class="row">
                                    <div class="col-sm-10">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, magnam asperiores! Quos nemo asperiores doloremque odio. Totam, odit. Numquam dolor, eos impedit illum delectus quidem illo mollitia error totam! Laboriosam?
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
    </section>

    <section id="contact"></section>

    <footer id="footer" class="footer">
        <div class="container">
            <div class="hm-footer-copyright">
                <div class="row">
                    <div class="col-sm-5">
                        <p>
                            &copy;copyright. designed by <a href="https://www.themesine.com/">themesine</a>. <a href="https://www.freepik.com/free-vector/beauty-salon-facebook-template_74710841.htm#fromView=keyword&page=1&position=7&uuid=b3965598-4d50-4e0c-9933-ed4d836fcb0f&query=Beauty+Salon+Banner">Image by freepik</a>
                        </p>
                    </div>
                    <div class="col-sm-7">
                        <div class="footer-social">
                            <span>(14) 91111-2222</span>
                            <span>Rua Pinheiros Beleza, 478</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </footer>
</body>
</html>